body {
    margin: 0;
    background-color: #6B5B95;
    color:#ffffff;
}

/* board styles */
.board {
    margin-top: 50%;
    width: 100vw;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.bSquare {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 3px solid black;
}

.info-box {
    text-align: center;
    margin-top: 15px;
}


/* reset button styles */
.reset-button {
    width: 100px;
    height: 50px;
    align-content: center;
    font-size: 110%;
}